@import "../mixin.less";

.button-wrapper{
  padding: 0 12px;
  display:block;
  height:32px;
  border-radius: 18px;
  min-width: 120px;
  background-color: @primary-color-400;
  opacity:0.8;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height:32px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  font-weight:600;
  &:hover{
    opacity: 0.9;
  }
  &:active{
    opacity: 1;
  }
  &[disabled]{
    background-color:rgba(46, 50, 56, 0.05);;
    color:rgba(28, 31, 35, 0.6);
  }
}