.page-layout{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    >div.body{
        // border: 2px solid;
        padding: 0.24rem 0.16rem;
        // height: 100%;
        // position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
