@import "../../../../less/mixin.less";

.sidebar-wrapper {
  @apply fixed sm:sticky top-0 left-0 z-20 sm:z-0 hidden sm:!flex flex-col justify-start items-start w-64 h-screen py-4 pl-2 bg-white sm:bg-transparent shadow-2xl sm:shadow-none overflow-x-hidden overflow-y-auto transition-all;
  padding-top:12px;

  .hide-scroll-bar();

  > .close-container {
    @apply w-full pr-6 my-2 flex sm:hidden flex-row justify-end items-center;

    > .action-btn {
      @apply p-1 bg-gray-100 rounded shadow w-7 h-7 flex flex-row justify-center items-center;
    }
  }

  > .action-btns-container {
    @apply w-full px-2 my-2 flex flex-col justify-start items-start shrink-0;

    > .action-btn {
      width: calc(100% - 1.5rem);
      text-align: left;
      height:34px;
      display: flex;
      align-items: center;
      margin-bottom:2px;
      padding:0 8px;
      border-radius:21px;
      transition: all .2s ease-in-out;
      font-size: 14px;
      border:1px solid transparent;
      &:hover{
        background-color: @primary-color-100;
        color:@primary-color-400;
        border-color: @primary-color-400;
        svg{
          fill:@primary-color-400;
        }
      }
      svg {
        margin-right: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
