@import "./mixin.less";

.change-password-dialog {
  > .dialog-container {
    width:20rem;
    > .dialog-content-container {
      margin-top: 16px;
      margin-bottom:8px;
      >div.input-wrapper{
        margin-bottom: 8px;
      }
      > .btns-container {
        margin-top: 0.5rem;
        width: 100%;
        button{
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  }
}
