@import "./mixin.less";

.common-dialog {
  > .dialog-container {
    @apply w-80;

    > .dialog-content-container {
      @apply flex flex-col justify-start items-start;

      > .content-text {
        @apply pt-2;
      }

      > .btns-container {
        margin-top: 0.5rem;
        width: 100%;
        button{
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  }
}
