@import "./mixin.less";

@font-face {
  font-family: "Bebas Neue Bold";
  src: url(https://db.onlinewebfonts.com/t/0159fb15532719ed3e692f0b13bf9c91.eot);
  src: url(https://db.onlinewebfonts.com/t/0159fb15532719ed3e692f0b13bf9c91.eot#iefix) format("embedded-opentype"), url(https://db.onlinewebfonts.com/t/0159fb15532719ed3e692f0b13bf9c91.woff2) format("woff2"), url(https://db.onlinewebfonts.com/t/0159fb15532719ed3e692f0b13bf9c91.woff) format("woff"), url(https://db.onlinewebfonts.com/t/0159fb15532719ed3e692f0b13bf9c91.ttf) format("truetype"), url(https://db.onlinewebfonts.com/t/0159fb15532719ed3e692f0b13bf9c91.svg#Bebas%20Neue%20Bold) format("svg")
}


body{
  margin: 0;
  font-family: "PingFangSC-Light","PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none!important;
  background-color: #fafafc;
}


:root {
  /*--box-shadow:0 0 0 rgba(0,0,0,0.3),0 4px 14px rgba(0,0,0,0.1);*/
  /*--box-shadow:0px 20px 40px 0px rgb(0 0 0 / 20%);*/
  /* --box-shadow:rgb(33 33 52 / 10%) 0px 1px 4px;*/
  -webkit-overflow-scrolling: touch;
  --rv-primary-color : #ffac26;
  --rv-font-size-sm: .25rem;
  --rv-button-small-height:.5rem;
  // --rv-button-primary-background-color: #ffac26;
  // --rv-button-primary-border-color: var(--rv-primary-color);
}
div{
  box-sizing: border-box;
}
p{
  margin: 0;
}

input:focus,
button:focus {
  outline-width: 0;
}

span.umo-tag {
  display: inline-block;
  text-align: center;
  background-color: #fff6e9;
  color: #ffab27;
  border-radius: 99px;
  padding: 0.02rem 0.1rem;
  font-size: .24rem;
}
@keyframes scale-in{from{transform:scale(0)}to{transform:scale(1)}}


.ProseMirror {
  // min-height: 52px;
  font-size: .28rem;
  color: #4b4b4d;

  > * + * {
    margin-top: 0.75em;
  }

  outline: none;

  &:focus-visible {
    outline: none;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      display: flex;

      > label {
        flex: 0 0 auto;
        // margin-right: 0.5em;
        position: relative;
        left: -0.25em;
        user-select: none;
        // border:1px solid;
      }

      > div {
        flex: 1 1 auto;
      }
    }
  }

  ul,
  ol {
    padding: 0 20px;
    li{
      p{
        line-height: 1.4;
        min-height: 20px;
        margin: 0;
      }
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75em 1em;
    border-radius: 0.5em;
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2em 0;
  }

  strong {
    font-weight: bold;
  }

  .umo-tag {
    cursor: pointer;
  }

  ul[data-type=taskList] {
    li {
      p {
        line-height: 1.4;
        min-height: 20px;
        margin: 0;
      }

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        border-radius: 12px;
        // --checkbox-width: 1.125rem;
        --checkbox-bg: white;
        --checkbox-radius: 4px;
        --checkbox-border-color: #cdd2da;
        --checkbox-hover-border-color: #85919f;
        --checkbox-checked-bg: @primary-color-400;
        --checkbox-disabled-bg: #eceef0;
        --checkbox-disabled-checked-bg: #85919f;
        position: relative;
        background: @primary-color-400;
        border: none;
        transition: .3s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
        cursor: pointer;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: #fff;
          border-radius: inherit;
          box-shadow: inset 0 0 0 1px rgb(205, 210, 218);
          transition: .2s;
        }

        &:before {
          position: absolute;
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
          transform: scale(0);
          top: 1px;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1;
        }

        &[checked=checked] {
          &:before {
            animation: scale-in .1s .2s linear forwards;
          }

          &:after {
            transform: scale(0);
          }
        }
      }
    }
  }
}


.rv-nav-bar{
  background-color:transparent;
}
.rv-nav-bar__title{
  font-size: .38rem;
  font-weight: 500;
}
.rv-nav-bar__left{
  //padding: 0;
  >span{
    font-size: .34rem;
    color: #333;
  }
  >svg{
    fill:#333;
  }
}

.rv-loading{
  text-align: center;
}

[class*='rv-hairline']::after{
  border: none;
}
