.prosemirror-editor {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255);
  padding:0.5rem 1rem 0.5rem 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  border:1px solid rgb(234, 234, 230);
  &:hover{
  border:  2px solid #FFAB27;
  }
  &.no-hover{
    border: none;
  }
  p.is-editor-empty:first-child::before {
    content: "你在想什么...";
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
  }

  .editor {
    flex: 1;
    width: 100%;
  }

  .toolbar {
    margin-top: 4px;
    width: 100%;
    height: 24px;
    .editor-toolbar{
      display: inline-block;
      >button{
        border-radius: 4px;
        padding: 2px;
        width: 28px;
        height: 28px;
        margin-right: 6px;
        transition: all .2s ease-in-out;
        &:focus {
          color: #FFAB27;
          background-color: #FFF6E9;
        }
        svg {
          width: 20px;
          height: 20px;
        }
        svg:focus {
          fill: #409eff;
        }
      }
    }

    > button {
      margin-right: 6px;

      &.cancel{
        position: absolute;
        right:128px;
        font-size: 12px;
        color:#606266;
        line-height:24px;
        background:#fff;
        padding:0;
      }
      &.write {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom:4px;
      }
    }
  }
}