@import "./mixin.less";

@keyframes modal-mask-keyframe-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-content-keyframe-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.search-bar-container {
  > .search-wrapper {
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    background-color: rgba(46, 50, 56, 0.05);
    z-index: 999;
    padding: 10px 13px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    > span {
      margin: 0 2px;
      font-weight: 600;
      font-size: 14px;
      color: rgba(28, 31, 35, 0.6);
    }
    > svg {
      margin-right: 6px;
      cursor: pointer;
      display: inline-block;
      fill: rgba(28, 31, 35, 0.6);
    }
  }
  div.command-k {
    > input {
      //border:1px solid;
      width: 100%;
      height: 40px;
      background-color: rgba(46, 50, 56, 0.05);
      border-radius: 40px;
      padding: 0 18px;
      margin-bottom: 12px;

      //border-radius:
    }
    > div {
      font-size: 14px;
      //margin-bottom: 12px;
      &.title {
        margin-bottom: 8px;
        font-size: 13px;
      }
      > span {
        display: inline-block;
        margin-right: 12px;
        font-size: 12px;
        cursor: pointer;
        //width:100%;
        padding: 4px 8px;
        border-radius: 10px;
        background-color: rgba(46, 50, 56, 0.05);
      }
      > span.active {
        color: #fff;
        background-color: @primary-color-400;
      }
    }
  }
}
