.setting-page{
  //border: 1px solid;
  //padding: 0.36rem;

  >.user-info{
    margin-top: .36rem;
    padding:0 0.36rem;
    //border: 1px solid;
    display: flex;
    //-webkit-align-items: center;
    align-items: center;
    margin-bottom: 0.24rem;
    >.userEditBox{
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;
      >div:first-of-type{
        flex-shrink: 1;
        display: flex;
        width: 100%;
        >p{    width: 4rem;
          padding: 0.08rem 0 0.08rem 0.2rem;
          //font-family: PingFangSC-Medium;
          font-size: .34rem;
          color: #989898;
          letter-spacing: 0;
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;}
      }
      >div.btnBox{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: .32rem;
        color: #000;
        letter-spacing: 0;
        font-weight: 400;
      }
    }
  }
}