@import "../../../../less/mixin.less";

.memos-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.24rem;


  >.title-container {

    display: flex;
    align-items: center;
>img{
  width: 0.56rem;
    height: 0.56rem;
}

    >span {

      font-size: .34rem;
      font-weight: 400;
      color: #333;
      line-height: .48rem;
      margin: 0 0.12rem 0 0.2rem;
      max-width: 4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  >.handle-container {
    // height: 30px;
    display: flex;
    >img {
      width: 0.48rem;
      height: 0.48rem;
      margin-right: 0.24rem;
      vertical-align: top;
    }
  }
}
