@import "../../less/mixin.less";

.memo-wrapper {
  margin-bottom: 0.24rem;
  padding: 0.24rem 0.28rem 0.32rem;
  box-shadow: 0 0.04rem 0.16rem 0 rgb(189 189 201 / 20%);
  border: 0.01rem solid transparent;
  border-radius: 0.24rem;
  background: #fff;
  position: relative;
  //box-sizing: border-box;
  //margin-bottom: 0.5rem;
  //display: flex;
  //width: 100%;
  //max-width: 100%;
  //flex-direction: column;
  //align-items: flex-start;
  //justify-content: flex-start;
  //border-radius: 0.5rem;
  //background-color:#fff;
  ////box-shadow: var(--box-shadow);
  //position:relative;
  //border:1px solid rgb(234, 234, 230);
  //padding-bottom:12px;
  > .action-bar {
    position: absolute;
    top: -1px;
    right: 0;
    width: 24px;
    height: calc(100% + 2px);
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //background-color:@primary-color-400;
    background-color: rgba(28, 31, 35, 0.6);

    border-radius: 0 0.5rem 0.5rem 0;

    //border: 1px solid;
    > svg {
      margin: 0 auto;
      fill: #fff;
      width: 16px;
      height: 16px;
      cursor: pointer;

      &:active {
        fill: @primary-color-100;
      }
    }


  }

  &.more-actions {
    //border: 1px solid;
    //left: -20px;
    border-radius: 0.5rem 0 0 0.5rem;
    transform: translateX(-24px);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;

    > .action-bar {
      transform: translateX(24px);
    }

    //transition:transformX(-20px);
  }

  > .card-status {
    position: absolute;
    right: 0;
    bottom: 0;
    //border: 1px solid;
    height: 24px;
    //width:100px;
    //background-color: @primary-color-200;
    color: @primary-color-400;
    //padding: 4px 6px;
    border-radius: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > svg {
      margin: 0 6px;
    }
  }

  > span.double-click-tip {
    //position: absolute;
    //left:8px;
    //bottom:4px;
    font-size: 12px;
    color: #9ca3af;
    margin: 0 0 0.5rem 0.5rem;
  }

  &.editing:hover {
    border: 2px solid #FFAB27;
  }

  &.editing {
    border: 2px solid #FFF6E9;

    .umo-tag {
      cursor: default;
    }
  }

  > .memo-top-wrapper {
    //margin-top: 4px;
    //padding:0 16px;
    //padding:0 0.5rem;
    display: flex;
    //height: 1.5rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //line-height:12px;
    > .time-text {
      font-size: 12px;
      color: rgba(28, 31, 35, 0.6);
    }

    > svg {
      width:12px;
      height:12px;
      fill: rgba(28, 31, 35, 0.6);
      cursor: pointer;
    }
  }
}

